.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 4px;
  transition: background-color 0.25s;
  cursor: pointer;

  &.size-lg {
    padding: 8px 32px;
    font-size: 20px;
  }

  &.size-md {
    padding: 4px 16px;
    font-size: 16px;
  }

  &.size-sm {
    padding: 2px 8px;
    font-size: 12px;
  }
}

.full-width {
  width: 100%;
  flex-grow: 1;
}

.bold {
  font-weight: bold !important;
}

.container:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-500);

  &:hover {
    background-color: var(--color-gray-300);
  }
}
